<script setup lang="ts">
import { computed, ref } from 'vue';
import Cookies from 'cookie-universal';
import { PhArrowUUpLeft } from '@phosphor-icons/vue';
import { Alert, Button, Spinner } from '@distromade/distro-ui';
import { Nav, IconButton, Checkbox } from '~/components';
import { useGlobalCMSState, useSelectedCMSChanges } from '~/composables';

const { unsavedChanges, undoChanges, saveChanges } = useGlobalCMSState();
const selectedChanges = useSelectedCMSChanges();
const loading = ref(false);
const error = ref<string | null>(null);

const changes = computed(() => {
  const paths = Object.keys(unsavedChanges.value);
  return paths.map((path) => ({
    path,
    content: unsavedChanges.value[path],
  }));
});

function save() {
  if (selectedChanges.value.length && !loading.value) {
    loading.value = true;
    error.value = null;

    const token: string | null = Cookies().get('distro-cms-token') ?? null;
    const refreshToken: string | null = Cookies().get('distro-cms-refresh-token') ?? null;
    const refreshesAt: string | null = Cookies().get('distro-cms-refreshes-at') ?? null;
    const expiresAt: string | null = Cookies().get('distro-cms-expires-at') ?? null;

    const __changes = JSON.parse(JSON.stringify(unsavedChanges.value));
    saveChanges(__changes, {
      token,
      refreshToken,
      expiresAt: expiresAt ? parseInt(expiresAt) : null,
      refreshesAt: refreshesAt ? parseInt(refreshesAt) : null,
    })
      .then((errorMessage) => {
        if (errorMessage) {
          error.value = errorMessage;
          return;
        }

        changes.value
          .filter((change) => change.content.__isSelected)
          .forEach((change) => {
            delete unsavedChanges.value[change.path];
            undoChanges(change.path);
          });
      })
      .finally(() => {
        loading.value = false;
      });
  }
}
</script>

<template>
  <div class="cms-editor-view stacked">
    <Nav />

    <div class="cms-editor-body">
      <Button variant="primary" :disabled="!selectedChanges.length" @click="save">
        <template v-if="loading">
          <Spinner size="24px" color="#f2f2f2" class="dui mr-8" />
          Saving...
        </template>
        <template v-else>Save selected changes</template>
      </Button>

      <Alert v-if="error" class="dui mt-8" variant="danger" :text="error" />

      <div class="dui mb-32"></div>

      <div
        class="unsaved-change dui display-flex align-items-center justify-content-space-between w-100 mb-8"
        v-for="change in changes"
        :key="change.path"
      >
        <div class="unsaved-change--title-wrapper dui display-flex align-items-center">
          <Checkbox v-model="unsavedChanges[change.path].__isSelected" :disabled="loading" />

          <div class="unsaved-change--title dui ml-16">
            <p class="dui text-sm m-0">{{ change.path }}</p>
            <p class="dui text-xs m-0">{{ change.content.pageTitle }}</p>
          </div>
        </div>

        <div>
          <IconButton
            title="Undo changes on this page"
            theme="dark"
            editing
            bordered
            style="margin-left: 15px"
            @click="undoChanges(change.path)"
          >
            <PhArrowUUpLeft />
          </IconButton>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped lang="scss">
.cms-editor-body {
  align-self: stretch;
  flex-grow: 1;
  width: 90%;
  margin: 0 auto;
  padding-top: 20px;
  color: #f2f2f2 !important;
}

.unsaved-change {
  padding: 8px 0;
  border-bottom: 1px solid darken(gray, 10);
}

.unsaved-change--title-wrapper {
  width: calc(100% - 55px);
}

.unsaved-change--title {
  p {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;

    &:first-child {
      font-size: 12px;
      color: lighten(gray, 20);
    }

    &:last-child {
      font-weight: 600;
      font-size: 14px;
    }
  }
}
</style>
