<script setup lang="ts">
import { CheckboxIndicator, CheckboxRoot } from 'radix-vue';
import { PhCheck } from '@phosphor-icons/vue';

interface Props {
  showLabel?: boolean;
  modelValue: boolean;
}
interface Emits {
  (e: 'update:modelValue', value: boolean): void;
}

const emit = defineEmits<Emits>();
withDefaults(defineProps<Props>(), {
  showLabel: false,
  modelValue: false,
});
</script>

<template>
  <div class="cms-checkbox" :style="{ display: 'flex', alignItems: 'center' }">
    <label>
      <CheckboxRoot
        :checked="modelValue"
        class="CheckboxRoot"
        @update:checked="emit('update:modelValue', $event)"
      >
        <CheckboxIndicator class="CheckboxIndicator">
          <PhCheck size="22px" weight="bold" />
        </CheckboxIndicator>
      </CheckboxRoot>
      <span v-if="showLabel" class="Label">
        <slot></slot>
      </span>
    </label>
  </div>
</template>

<style scoped lang="scss">
.cms-checkbox {
  /* reset */
  :deep(button) {
    all: unset;
  }

  :deep(.CheckboxRoot) {
    background-color: white !important;
    width: 25px;
    height: 25px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);

    &:focus {
      box-shadow: 0 0 0 2px black;
    }
  }

  :deep(.CheckboxIndicator) {
    color: #445bdd;
  }

  :deep(.Label) {
    color: white;
    padding-left: 15px;
    font-size: 15px;
    line-height: 1;
  }
}
</style>
