<script setup lang="ts">
import { computed } from 'vue';
import { Textarea, Input } from '@distromade/distro-ui';
import { debounce } from 'lodash';
import { Nav } from '~/components';
import { useGlobalCMSState } from '~/composables';

const { pageContent, isLoggedIn, updatePageContent } = useGlobalCMSState();

const markdownElements = computed(() => {
  if (pageContent.value!.cms.markdownElements) {
    return Object.keys(pageContent.value!.cms.markdownElements);
  }
  return null;
});

const plainTextElements = computed(() => {
  if (pageContent.value!.cms.plainTextElements) {
    return Object.keys(pageContent.value!.cms.plainTextElements);
  }
  return null;
});

function getMarkdownElement(key: string) {
  return pageContent.value!.cms.markdownElements[key];
}

function getPlainTextElement(key: string) {
  return pageContent.value!.cms.plainTextElements[key];
}

function updatePageTitle(e: Event) {
  const target = e.target as HTMLInputElement;
  const newContent = JSON.parse(
    JSON.stringify({
      ...pageContent.value!.cms,
      pageTitle: target.value,
    }),
  );
  updatePageContent(newContent);
}

function onPlainElementChange(element: string, e: Event) {
  const update = debounce(() => {
    const target = e.target as HTMLInputElement;
    const newContent = JSON.parse(
      JSON.stringify({
        ...pageContent.value!.cms,
        plainTextElements: {
          ...pageContent.value!.cms.plainTextElements,
          [element]: {
            ...pageContent.value!.cms.plainTextElements[element],
            text: target.value,
          },
        },
      }),
    );
    updatePageContent(newContent);
  }, 1000);

  update();
}

function onMarkdownElementChange(element: string, e: Event) {
  const update = debounce(() => {
    const target = e.target as HTMLTextAreaElement;
    const newContent = JSON.parse(
      JSON.stringify({
        ...pageContent.value!.cms,
        markdownElements: {
          ...pageContent.value!.cms.markdownElements,
          [element]: {
            ...pageContent.value!.cms.markdownElements[element],
            markdown: target.value,
          },
        },
      }),
    );
    updatePageContent(newContent);
  }, 1000);

  update();
}
</script>

<template>
  <div class="cms-editor-view stacked">
    <Nav index />

    <div v-if="pageContent" class="cms-editor-body">
      <template v-if="isLoggedIn">
        <Input
          name="page-title"
          label="Page title"
          :model-value="pageContent!.cms.pageTitle"
          @input="updatePageTitle"
        />

        <template v-if="plainTextElements">
          <Input
            v-for="element in plainTextElements"
            :key="element"
            :name="`txt-${element}`"
            :label="getPlainTextElement(element).label"
            :model-value="getPlainTextElement(element).text"
            @input="onPlainElementChange(element, $event)"
          />
        </template>

        <template v-if="markdownElements">
          <Textarea
            v-for="element in markdownElements"
            :key="element"
            :name="`txt-${element}`"
            :label="getMarkdownElement(element).label"
            :model-value="getMarkdownElement(element).markdown"
            @input="onMarkdownElementChange(element, $event)"
          />
        </template>
      </template>

      <template v-else>
        <slot></slot>
      </template>
    </div>

    <div
      v-else
      class="dui display-flex justify-content-center align-items-center"
      style="padding: 24px 0"
    >
      <p>This page cannot be edited.</p>
    </div>
  </div>
</template>

<style scoped lang="scss">
.cms-editor-view {
  :deep(input) {
    background-color: #656565 !important;
    color: #fff !important;
  }
}

.cms-editor-body {
  align-self: stretch;
  flex-grow: 1;
  width: 90%;
  margin: 0 auto;
  padding-top: 50px;
  color: #f2f2f2 !important;

  :deep(textarea) {
    background-color: #656565;
    margin-bottom: 16px;
  }

  :deep(input) {
    margin-bottom: 16px;
  }
}

.textarea-wrapper {
  &:not(:first-child) {
    margin-top: 16px;
  }

  textarea {
    height: 50px;
  }
}
</style>
