<script setup lang="ts">
import { computed } from 'vue';
import { useUnsavedCMSChangesCount } from '~/composables';

interface Props {
  theme?: 'light' | 'dark';
  type?: 'button' | 'submit' | 'reset';
  unsavedCount?: number;
  primary?: boolean;
  editing?: boolean;
  disabled?: boolean;
}

const props = withDefaults(defineProps<Props>(), {
  theme: 'light',
  type: 'button',
  editing: false,
  disabled: false,
});

const unsavedChanges = useUnsavedCMSChangesCount();

const tooltip = computed(() => {
  const count = props.unsavedCount;
  if (count !== undefined) {
    return count > 0 ? `Saved ${props.unsavedCount} changes` : 'Save changes';
  }
  return undefined;
});
</script>

<template>
  <button
    class="cms-icon-btn dui"
    :type="props.type"
    :class="{ dark: props.theme === 'dark', editing: props.editing, primary }"
    :title="tooltip"
    :disabled="props.disabled"
    v-bind="$attrs"
  >
    <span v-if="props.unsavedCount" class="cms-icon-btn--badge">{{ unsavedChanges }}</span>
    <slot></slot>
  </button>
</template>

<style scoped lang="scss">
.cms-icon-btn {
  color: #202020;
  padding: 8px 12px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border: 1px solid hsla(0, 0%, 50.2%, 0.2);
  transition: all 0.3s ease-in;
  white-space: nowrap;

  &:disabled {
    opacity: 0.8;
    cursor: not-allowed;
  }

  .cms-icon-btn--badge {
    position: absolute;
    top: -2px;
    right: -10px;
    background-color: #ff0000;
    color: #fff;
    font-size: 10px;
    font-weight: 600;
    width: 20px;
    height: 20px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &.dark {
    color: #f2f2f2;
  }

  &.primary,
  &:not(.editing):hover {
    background-color: #445bdd;
    color: #fff;
    border: 1px solid #445bdd;
  }

  &.editing {
    &:not(:disabled):hover {
      background-color: lighten(gray, 40%);
      border-color: transparent;
    }

    &.dark:not(:disabled):hover {
      background-color: darken(gray, 25%);
    }
  }

  :deep(svg) {
    width: 20px !important;
    height: 20px !important;
  }
}
</style>
