<script setup lang="ts">
import { ref, computed } from 'vue';
import Cookies from 'cookie-universal';
import { Button, Spinner, Input, Alert } from '@distromade/distro-ui';
import { useGlobalCMSState } from '~/composables';
import type { LoginResponse } from '~/types';

interface Props {
  login: (email: string, password: string) => Promise<LoginResponse | string>;
}

const { login } = defineProps<Props>();

const { isLoggedIn } = useGlobalCMSState();

const email = ref('');
const password = ref('');
const loading = ref(false);
const error = ref<string | null>(null);

const emailIsValid = computed(() => {
  return /.+@.+\..+/.test(email.value.trim());
});
const emailErrorMessage = computed(() => {
  if (email.value && !emailIsValid.value) {
    return 'Enter a valid email address.';
  }
  return null;
});

const passwordIsValid = computed(() => {
  return password.value.length >= 6;
});
const passwordErrorMessage = computed(() => {
  if (password.value && !passwordIsValid.value) {
    return 'Enter a valid password.';
  }
  return null;
});

function submit() {
  if (emailIsValid.value && passwordIsValid.value && !loading.value) {
    loading.value = true;
    error.value = null;
    login(email.value, password.value)
      .then((response) => {
        if (typeof response === 'string') {
          error.value = response;
          return;
        }

        const { token, refreshToken, refreshesAt, expiresAt } = response;
        Cookies().set('distro-cms-token', token);
        Cookies().set('distro-cms-refresh-token', refreshToken);
        Cookies().set('distro-cms-refreshes-at', refreshesAt);
        Cookies().set('distro-cms-expires-at', expiresAt);
        isLoggedIn.value = true;
      })
      .finally(() => {
        loading.value = false;
      });
  }
}
</script>

<template>
  <form @submit.prevent="submit">
    <h4 class="dui text-xl text-center">Admin Login</h4>
    <p class="dui text-sm mb-32 text-center">
      Sign in with your
      <a class="dui" href="https://www.distromfg.com/" target="_blank">Distro</a> admin account
      to edit this website.
    </p>

    <Alert v-if="error" variant="danger" :text="error" />

    <div class="dui mb-16">
      <Input
        id="cms-login-email-input"
        type="email"
        name="email-input"
        required
        autofocus
        v-model="email"
        label="Email"
      />
      <small v-show="emailErrorMessage">{{ emailErrorMessage }}</small>
    </div>

    <div>
      <Input
        id="cms-login-password-input"
        type="password"
        name="password-input"
        required
        v-model="password"
        label="Password"
      />
      <small v-show="passwordErrorMessage">{{ passwordErrorMessage }}</small>
    </div>

    <div class="dui w-100 display-flex justify-content-center align-items-center mt-32">
      <Button
        class="w-100"
        type="submit"
        variant="primary"
        :disabled="!(emailIsValid && passwordIsValid) || loading"
      >
        <template v-if="loading">
          <Spinner size="24px" color="#f2f2f2" class="dui mr-8" />
          Signing in...
        </template>
        <template v-else>Sign in</template>
      </Button>
    </div>
  </form>
</template>

<style scoped lang="scss">
form {
  width: 85%;
  margin: 0 auto;

  h4 {
    font-weight: 600;
    color: #f2f2f2;
  }

  p a {
    color: #f2f2f2;
    text-decoration: underline;
  }

  small {
    color: orangered;
  }

  :deep(input) {
    background-color: #656565;
    margin-bottom: 0;
  }

  :deep(.form-group) {
    margin-bottom: 0;
  }

  :deep(input) {
    background-color: #656565 !important;
    color: #fff !important;
  }
}
</style>
