<script setup lang="ts">
import { computed } from 'vue';
import { PhArrowLeft, PhX } from '@phosphor-icons/vue';
import {
  useGlobalCMSState,
  useUnsavedCMSChangesCount,
  useSelectedCMSChanges,
} from '~/composables';
import { IconButton } from '~/components';

interface Props {
  index?: boolean;
}

withDefaults(defineProps<Props>(), {
  index: false,
});

const { pageContent, editorMode, showEditor, isLoggedIn, undoChanges } = useGlobalCMSState();
const unsavedChangesCount = useUnsavedCMSChangesCount();
const selectedChanges = useSelectedCMSChanges();

const firstBtnTooltip = computed(() => {
  if (editorMode.value !== 'editing') return 'Go back';
  return 'Close editor';
});

const undoBtnTooltip = computed(() => {
  if (editorMode.value === 'editing') return 'Undo changes on this page';
  return 'Undo changes on all pages';
});

const title = computed(() => {
  if (editorMode.value === 'changes') {
    return `${selectedChanges.value.length} of ${unsavedChangesCount.value} selected`;
  }
  return pageContent.value?.cms?.pageTitle;
});

const editingOrChanges = computed(() => ['editing', 'changes'].includes(editorMode.value));

function goBack() {
  if (editorMode.value === 'editing') {
    showEditor.value = false;
    return;
  }
  editorMode.value = 'editing';
}

function undo() {
  if (editorMode.value === 'editing') {
    undoChanges(pageContent.value!._path);
  } else if (editorMode.value === 'changes') {
    undoChanges();
  }
}

function viewChanges() {
  if (unsavedChangesCount.value) {
    editorMode.value = 'changes';
  }
}
</script>

<template>
  <div class="cms-editor-nav" :class="{ [editorMode]: true }">
    <div class="control">
      <IconButton :title="firstBtnTooltip" theme="dark" editing bordered @click="goBack">
        <PhX v-if="index" />
        <PhArrowLeft v-else />
      </IconButton>

      <div v-if="!index && editingOrChanges" class="title-wrapper">
        <p class="dui">
          <template v-if="editorMode === 'editing'">Edit Page</template>
          <template v-else>{{ unsavedChangesCount }} Unsaved Change(s)</template>
        </p>
        <p class="dui title">{{ title }}</p>
      </div>
    </div>

    <div v-if="isLoggedIn" class="actions">
      <IconButton
        v-if="editorMode === 'editing'"
        :unsaved-count="unsavedChangesCount"
        theme="dark"
        editing
        bordered
        :disabled="unsavedChangesCount === 0"
        @click="viewChanges"
      >
        View changes
      </IconButton>

      <IconButton
        v-if="editingOrChanges"
        :title="undoBtnTooltip"
        theme="dark"
        editing
        bordered
        @click="undo"
      >
        Undo
      </IconButton>
    </div>
  </div>
</template>

<style scoped lang="scss">
.cms-editor-nav {
  padding: 8px 20px 8px 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .control {
    display: flex;
    align-items: center;
  }

  &.editing .control {
    width: calc(100% - 110px);
  }

  &.changes .control {
    width: 100%;
  }

  &.home .control {
    width: calc(100% - 60px);
  }

  .title-wrapper {
    margin-left: 10px;

    p {
      margin: 0;
      overflow: hidden;
      text-overflow: ellipsis;

      &:first-child {
        font-size: 12px;
        color: lighten(gray, 20);
      }

      &.title {
        font-weight: 600;
        font-size: 14px;
      }
    }
  }

  .actions {
    display: flex;
    align-items: center;

    :deep(.cms-icon-btn:nth-child(2)) {
      margin-left: 10px;
    }
  }
}
</style>
