<script setup lang="ts">
import { ref, provide, onMounted, readonly, watch, onBeforeUnmount } from 'vue';
import Cookies from 'cookie-universal';
import { PageEditor } from '~/components';
import { localStorageWrapper } from '~/utils';
import { checkLocalStorage } from '~/utils/checkLocalStorage';
import { evaluateUnsavedChanges } from '~/utils/evaluateUnsavedChanges';
import type {
  PageContent,
  CMSStateProvider,
  UnsavedChangesType,
  EditorMode,
  LocalStorageCMSValue,
  PageContentType,
} from '~/types';

interface Props {
  content: PageContentType | null;
  showEditor?: boolean;
  save: (changes: UnsavedChangesType) => Promise<string | undefined>;
}

const props = withDefaults(defineProps<Props>(), {
  showEditor: false,
});

const showEditor = ref(props.showEditor);
const editorMode = ref<EditorMode>('editing');
const isLoggedIn = ref(false);

const pageContent = ref<PageContentType | null>(JSON.parse(JSON.stringify(props.content)));
const unsavedChanges = ref<UnsavedChangesType>({});

provide<CMSStateProvider>('DistroCMS', {
  pageContent: readonly(pageContent),
  isLoggedIn,
  showEditor,
  editorMode,
  unsavedChanges,

  updatePageContent,
  resetPageContent,
  logout,
  undoChanges,
  saveChanges: props.save,
});

watch(
  () => props.content,
  () => checkLocalStorage(props.content, pageContent),
);

watch(pageContent, (content) => {
  if (!content) {
    editorMode.value = 'editing';
  }
});

watch(editorMode, (newMode) => {
  if (newMode === 'editing' && props.content) {
    let locallySavedContent = localStorageWrapper.getItem<LocalStorageCMSValue>('DistroCMS')!;
    const locallySavedRouteContent = locallySavedContent[props.content._path!];

    if (!locallySavedRouteContent) {
      localStorageWrapper.setItem<LocalStorageCMSValue>('DistroCMS', {
        ...locallySavedContent,
        [props.content._path!]: {
          original: props.content.cms,
          changes: null,
          __filePath: props.content._file!.replaceAll(':', '/'),
        },
      });
    }
  }
});

function undoChanges(specificPage?: string) {
  let locallySavedContent = localStorageWrapper.getItem<LocalStorageCMSValue>('DistroCMS')!;

  if (specificPage) {
    delete locallySavedContent[specificPage];
    delete unsavedChanges.value[specificPage];
  } else if (editorMode.value === 'changes') {
    locallySavedContent = {};
    unsavedChanges.value = {};
  }

  localStorageWrapper.setItem<LocalStorageCMSValue>('DistroCMS', locallySavedContent);
  resetPageContent();
}

function logout(reload = false) {
  localStorageWrapper.clear();
  Cookies().removeAll();
  isLoggedIn.value = false;

  if (reload) {
    setTimeout(window.location.reload, 100);
  }
}

function resetPageContent() {
  pageContent.value = JSON.parse(JSON.stringify(props.content));
}

function updatePageContent(newContent: PageContent['cms']) {
  if (props.content && pageContent.value) {
    let locallySavedContent = localStorageWrapper.getItem<LocalStorageCMSValue>('DistroCMS')!;
    pageContent.value.cms = newContent;
    localStorageWrapper.setItem<LocalStorageCMSValue>('DistroCMS', {
      ...locallySavedContent,
      [props.content._path!]: {
        original: props.content.cms,
        changes: newContent,
        __filePath: props.content._file!.replaceAll(':', '/'),
      },
    });
  }
}

function handleLocalStorageChange() {
  evaluateUnsavedChanges(props.content, unsavedChanges);
}

onMounted(() => {
  evaluateUnsavedChanges(props.content, unsavedChanges);

  // check if logged in
  const token = Cookies().get('distro-cms-token');
  if (token) {
    isLoggedIn.value = true;
  } else {
    logout();
  }

  setTimeout(() => {
    checkLocalStorage(props.content, pageContent);
  }, 500);

  document.addEventListener('local-storage', handleLocalStorageChange);
});

onBeforeUnmount(() => {
  document.removeEventListener('local-storage', handleLocalStorageChange);
});
</script>

<template>
  <div class="dui cms-page-wrapper" :class="{ open: showEditor }">
    <main>
      <slot />
    </main>

    <Transition name="show-admin" mode="out-in">
      <PageEditor v-if="showEditor">
        <template #login-form>
          <slot name="login-form"></slot>
        </template>
      </PageEditor>
    </Transition>
  </div>
</template>

<style scoped lang="scss">
@import '../assets/scss/variables';

.cms-page-wrapper {
  font-family: $font-family;

  &.open {
    main {
      margin-right: 480px;
    }
  }
}
</style>

<style>
.cms-editor-view {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  &.stacked {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1000;
    background-color: #202020;
  }
}

.show-admin-enter-active {
  animation: slide-in 0.3s linear;
}

.show-admin-leave-active {
  animation: slide-in 0.3s linear reverse;
}

@keyframes slide-in {
  from {
    transform: translateX(480px);
  }
  to {
    transform: translateX(0);
  }
}
</style>
