<script setup lang="ts">
import { useGlobalCMSState } from '~/composables';
import { EditingView, ChangesView } from '~/components';

const { editorMode, pageContent, isLoggedIn } = useGlobalCMSState();
</script>

<template>
  <aside class="cms-editor">
    <EditingView>
      <div
        class="login-view dui w-100 h-100 display-flex flex-direction-column justify-content-center"
      >
        <slot name="login-form"></slot>
      </div>
    </EditingView>

    <Transition name="show-admin" mode="out-in">
      <ChangesView v-if="isLoggedIn && pageContent && editorMode === 'changes'" />
    </Transition>
  </aside>
</template>

<style scoped lang="scss">
.cms-editor {
  position: fixed;
  bottom: 0;
  top: 0;
  right: 0;
  width: 480px;
  background-color: #202020;
  color: #f2f2f2;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 999;
}
</style>
